<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.example.basetest"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".base.App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.InitActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppInit">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- -->
        <!--登录活动-->
        <activity
            android:name=".ui.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>

        <!-- 主活动-->
        <activity
            android:name=".ui.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <!-- 拍照-->
        <activity
            android:name=".ui.photo.PhotoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <!--定位-->
        <activity
            android:name=".ui.map.LocationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <!--导航-->
        <activity
            android:name=".ui.map.NavigationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>

        <!--线路规划-->
        <activity
            android:name=".ui.map.LineActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <!--录音-->
        <activity
            android:name=".ui.voice.RecordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <!--推送-->
        <activity
            android:name=".ui.push.PushActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <!--沉浸式下拉-->
        <activity
            android:name=".ui.immerse.ImmerseActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>

        <activity android:name=".ui.immerse.NoTitleNoTableActivity"
                  android:exported="false"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.immerse.TitleNoTableActivity"
                  android:exported="false"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.immerse.NoTitleTableActivity"
                  android:exported="false"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.immerse.TitleTableActivity"
                  android:exported="false"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>

        <!--GreenDao-->
        <activity
            android:name=".ui.green_dao.GreenDaoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <!--other-->
        <activity
            android:name=".ui.other.OtherActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
    </application>

</manifest>
